.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.map-container {
  flex: 1;
  padding: 20px;
  min-width: 200px;
}

.sidebar {
  /*flex: 0 0 400px;*/
  padding: 20px;
}

.sidebar-content {
  margin-bottom: 14px;
}

select {
  width: 100%;
}

#count,
#maxDistanceToNeighbour {
  width: 6em;
}

.lbl--parameter {
  margin-left: 5px;
}

.btn--send-geometry {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  .sidebar {
    color: gray;
  }
}

/* might necessary for react-leaflet-draw */
.sr-only {
  display: none;
}
